

<main class="main">


  <div class="dashboard">
    <header class="top-header">
      <button class="close-btn"></button>
      <div class="user-info" (click)="toggleUserMenu()">
        <img src="img/usuario.png" alt="user" class="usuario">
        <span>J</span>
        <span class="role">I</span>
        <div class="user-dropdown" *ngIf="isUserMenuOpen">
          <div class="user-details">
            <h3>nomre usuario</h3>
            <p>Rol:</p>
            <p>Email</p>
          </div>
          <button class="logout-btn">Cerrar sesión</button>
        </div>
      </div>
    </header>
    <div class="main-container">
      <nav class="sidebar">
        <ul>
          <li><a href="#"><i class="fas fa-box"></i> Gestión productos</a></li>
         <li><a href="#"><i class="fas fa-users"></i> Gestión clientes</a></li>
         <li><a href="#"><i class="fas fa-truck"></i> Entrega paquete</a></li>
         <li><a href="#"><i class="fas fa-shopping-cart"></i> Ventas</a></li>
         <li><a href="#"><i class="fas fa-chart-bar"></i> Reportes</a></li>
        </ul>
      </nav>
      <main class="main-content">
        <div class="content">
          <img src="img/Umg.png" alt="Universidad Mariano Galvez" class="university-logo">
          <h1>UNIVERSIDAD MARIANO GALVEZ</h1>
        </div>
      </main>
    </div>
  </div>

</main>
