
.top-header {
  background-color: #1e79e0;
  color: rgb(236, 229, 229);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}


.logo {
  width: 60px;
  height: 50px;
  border-radius: 90%;
  margin-right: 20px;
}





.main-content {
  display: flex;
  justify-content: center;  /* Centrar horizontalmente */
  align-items: center;      /* Centrar verticalmente */
  height: 50vh;             /* Ocupa parte de la altura de la ventana */
}

/* Contenido centralizado (logo y título) */
.content {
  text-align: center;  /* Centrar el texto e imagen */
}

.university-logo {
  max-width: 200px;   /* Aumenta el tamaño del logo */
  margin-bottom: 20px;
}

/* Sidebar (menú lateral) */
.sidebar {
  width: 200px;
  background-color: #0d0d0d;
  position: fixed;
  top: 1px;
  left: 0;
  height: calc(300vh - 100px);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  text-align: left;
}

/* Estilo de los enlaces del menú lateral */
.sidebar ul li a {
  text-decoration: none;
  color: rgb(232, 226, 226);
  display: block;
  padding: 10px;
}

.sidebar ul li a:hover {
  background-color: #b2bdd2;
  color: #ffffff;            /* Color del texto al pasar el ratón */
}

/* Ajustes para el contenido principal al lado del menú */
.main-container {
  margin-left: 200px;  /* Asegura que el contenido no esté cubierto por el menú lateral */
  padding: 20px;
}



/* Otros estilos (formularios y botones) */
.product-registration {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #4a90e2;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #4a90e2;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #d1cece;
  border-radius: 4px;
}

button {
  background-color: #4a90e2;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3a7bc8;
}

/* Ajustes responsive */
@media (max-width: 768px) {
  .sidebar {
      width: 150px;
  }

  .main-container {
      margin-left: 150px;
  }

  .university-logo {
      max-width: 150px;
  }
}



.has-submenu {
  position: relative;
}

.submenu {
  width: 200px;
  display: none;
  position: absolute;
  top: 0;
  left: 200px; /* Asegúrate de que coincida con el ancho de tu sidebar */
  background-color: #0d0d0d;
  padding: 20px;
  list-style-type: none;
}


.submenu li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.has-submenu:hover .submenu {
  display: block;
}

/* Ajuste de estilo para el "hover" del submenú */
.submenu li a:hover {
  background-color: #2556b1;
  color: #741313;
}